body {
	text-align: center;				/* This is a hack for older browsers to center the page */
}

.vendor_container {
	margin: 0 auto; 				/* This centers the page in modern browsers */
	text-align: left; 				/* This is a hack for older browsers to center the page */
	width: 80%; 					/* This sets our total page width */
}

.vendor_content {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1607843137254902);
	float: left;					/* This causes the content to move to the right */
    width: 60%;					/* We need to set the width whenever we float an element */
    margin-right: 10px;
}


.vendor_sidebar {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1607843137254902);
	float: right; 					/* This causes the sidebar to move to the left */
    width: 35%; 					/* We need to set the width whenever we float an element */
    margin-left: 10px;
}