.spin-loader {
	 position: fixed;
	 top: 40%;
	 left: 50%;
	 margin-left: -60px;
	 height: 100px;
	 width: 100px;
	 background: transparent;
	 border: 3px solid;
	 border-color: #18bc9c #18bc9c #18bc9c #07342b;
	 border-radius: 50%;
	 transition: all 0.3s cubic-bezier(0.23, 0.78, 0.69, 0.84);
	 animation: spin 0.75s infinite linear;
}
 .loader-overlay {
	 position: fixed;
	 top: 55px;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 background: rgba(0, 0, 0, 0.2);
	 z-index: 2;
	 -moz-transition: opacity 0.3s cubic-bezier(0.23, 0.78, 0.69, 0.84);
	 -o-transition: opacity 0.3s cubic-bezier(0.23, 0.78, 0.69, 0.84);
	 -webkit-transition: opacity 0.3s cubic-bezier(0.23, 0.78, 0.69, 0.84);
	 transition: opacity 0.3s cubic-bezier(0.23, 0.78, 0.69, 0.84);
}
 .loader-overlay.ng-hide {
	 opacity: 0;
}
 .loader-overlay.ng-hide .spin-loader.shrink {
	 top: calc(25% + 60px);
	 margin-left: 0;
	 width: 10px;
	 height: 10px;
}
 .loader-overlay.ng-hide .spin-loader.expand {
	 top: calc(25% - 100px);
	 margin-left: -200px;
	 width: 400px;
	 height: 400px;
}
 @keyframes spin {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 body {
	 color: white;
	 background: #1e1e1e;
	 text-align: center;
}
 body p {
	 max-width: 400px;
	 margin: 10px auto;
}
 .input-header {
	 background: #32323c;
	 height: 30px;
	 padding: 12.5px;
	 box-sizing: content-box;
}
