<!DOCTYPE html>

<html>
    <head>
        <title>Vending Machine</title>

        <!-- meta -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- angularJS stuff -->
        <script src="bower_components/angular/angular.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script> -->
       


         <!-- Loading Spinner stuff -->
         <link rel="stylesheet" href="css/loading_spinner_style.css">
         <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-animate.js"></script> -->

         <!-- app script  -->
         <script src="js/app.js"></script>
         <script src="services/dataService.js"></script>


         <!-- bootstrap -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

         <!-- custrom css -->
         <link rel="stylesheet" href="css/card_container.css">
         <link rel="stylesheet" href="css/vendor_terminal.css">


         <!-- other bootstrap stuff -->
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>

    <body>
        <div ng-app = "mainApp" >
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">
                    <!-- <img src="app/assets/brand/calogo.png" width="30" height="30" alt=""> -->
                    Vending Machine
                </a>
            </nav>

            <div ng-controller="VendingController" class="container">
                <!-- Loading spinner -->
                <div class="loader-overlay" data-ng-hide="hideLoader">
                    <div class="spin-loader" data-ng-class="{'shrink': shrinkOnHide, 'expand': !shrinkOnHide}"></div>
                </div>


                <div class="row">
                    <div id = "vendor-terminal" class="col col-lg-3">
                        <div class = "vendor-console"> Balance: <br/> <h5>R {{balance}} </h5></div>
                        <div class = "coin-row">
                            <h5>Select Coin</h5>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" ng-repeat="denomination in coin_denominations" ng-click="insert_coin(denomination)"> {{denomination}}</button>
                            </div>
                        </div>
                        <form name="purchase_form" ng-submit="finalizePurchase()"  novalidate>
                            <input type="number" class="form-control" id="product-selection" min="1" max="15" ng-change="reset()" placeholder="Product Code" name="product_selection" ng-model="selected_product" required/>
                            
                            <div ng-show="purchase_form.$submitted || purchase_form.product_selection.$touched">
                                <span ng-show="purchase_form.product_selection.$error.required" style="color:red;">required field</span>
                                <span ng-show="purchase_form.product_selection.$error.min" style="color:red;">invalid selection.</span>
                                <span ng-show="purchase_form.product_selection.$error.max" style="color:red;">invalid selection.</span>
                                <span ng-show="!product_available" style="color:red;">product unavailable</span>
                                <span ng-show="!sufficient_balance" style="color:red;">insufficient funds</span>
                            </div>

                            <button class="btn btn-primary" type="submit" >Confirm</button>
                            <button type="button" class="btn btn-outline-primary" ng-click ="getChange()">Get Change</button>
                            <div class = "vendor-console" style="margin-top: 50px;"> 
                                Your Change is: <br/>
                                <h5>R {{change_amount}} </h5>
                                <p style="text-align: left;" ng-repeat="coin in coin_denominations"> {{user_change[coin]}} coins of denomination {{coin}} </p>
                                
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div id="vendor-products" class="container">
                            <div class="row" ng-repeat = "productRow in products">
                                <div class="col col-sm" ng-repeat = "product in productRow">
                                    <div class="product-card">
                                        <div class="product-card__thumb"><h3>{{product.name}}</h3>
                                        <img src= {{product.img}} /></div>
                                        <div class="product-card__content">
                                            <header class="content__header">
                                                <div class="row-wrapper">
                                                    <h2 class="product-title">R {{product.price}} </h2>
                                                </div>
                                                <div class="product-details">
                                                    <div class="product-details-item">
                                                        <i class="ion ion-ios-clock-outline"></i>
                                                        <div class="value">X{{product.count}}</div>
                                                        <div class="product-position">{{product.code}}</div>
                                                    </div>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	    </div>
	</body>

</html>